*.iml
.fleet
.kotlin
.gradle
.actrc
**/build/
xcuserdata
!src/**/build/
local.properties
local.defaults.properties
secrets.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
**/*services.json
**/*.plist
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
